@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

#root {
  display: block;
  min-height: 100vh;
  font-family: 'Proza Libre', sans-serif;
}

.patient-card{
  background-color: #EDEDED;
  margin: 50px;
  border-radius: 5px;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  
}

.patient-card > div {
  flex: 1 1 auto;
  text-align: center;
  margin: 5px;
  padding: 15px;
}

.slider {
  min-width:500px;
  background-color:white;
}

.sample-patient {
  background-color: #9BA0A5;
  max-width: 200px;
  border-radius: 10px;
  color: white;
  font-weight:bold;
}

.sample-patient > div{
  display:inline-block;
}

.info {
  font-weight: 500;
  padding-left: 30px;
}

.info-inside{
  font-family: 'Proza Libre', sans-serif;
  padding: 5px;
  text-align:center;
  font-size:0.75em;
}

.sample-name, .sample-machine{
  font-weight:bold;
  max-width: 250px;
}